.fa-heart {
    color: red;
}

.fa-star {
    color: orange;
}

.product-price {
    font-weight: bold;
}   

.height {
    height: 35rem;
    width: 100%;
}

.container {
    padding: 0px;
}

.category-title {
    font-family: cursive;
}