<div class="footer bg-secondary p-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3 col-md-3 pt-4">
                <div>
                    <p class="text-uppercase text-light font-weight-bold">
                        our company
                    </p>
                    <hr>

                    <ul class="list-group">
                        <a href="#" class="text-light footer-link">
                            <li class="list-group-item">
                                About Us
                            </li>
                        </a>

                        <a href="#" class="text-light footer-link">
                            <li class="list-group-item">
                                Blog
                            </li>
                        </a>

                        <a href="#" class="text-light footer-link">
                            <li class="list-group-item">
                                Privacy Policy
                            </li>
                        </a>

                        <a href="#" class="text-light footer-link">
                            <li class="list-group-item">
                                Site Map
                            </li>
                        </a>

                        <a href="#" class="text-light footer-link">
                            <li class="list-group-item">
                                Supplier Code Of Product
                            </li>
                        </a>

                        <a href="#" class="text-light footer-link">
                            <li class="list-group-item">
                                Term of Use
                            </li>
                        </a>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-lg-3 col-md-3 pt-4">
                <div>
                    <p class="text-uppercase text-light font-weight-bold">
                        Help
                    </p>
                    <hr>

                    <ul class="list-group">
                        <a href="#" class="text-light footer-link">
                            <li class="list-group-item">
                                Apparel Size Charts
                            </li>
                        </a>

                        <a href="#" class="text-light footer-link">
                            <li class="list-group-item">
                                Contact Us
                            </li>
                        </a>

                        <a href="#" class="text-light footer-link">
                            <li class="list-group-item">
                                Frequently Asked Questions
                            </li>
                        </a>

                        <a href="#" class="text-light footer-link">
                            <li class="list-group-item">
                                How To Order
                            </li>
                        </a>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-lg-3 col-md-3 pt-4">
                <div>
                    <p class="text-uppercase text-light font-weight-bold">
                        Account Info
                    </p>
                    <hr>

                    <ul class="list-group">
                        <a href="#" class="text-light footer-link">
                            <li class="list-group-item">
                                My Account
                            </li>
                        </a>

                        <a href="#" class="text-light footer-link">
                            <li class="list-group-item">
                                Order Tracking
                            </li>
                        </a>

                        <a href="#" class="text-light footer-link">
                            <li class="list-group-item">
                                Reminder Service
                            </li>
                        </a>

                        <a href="#" class="text-light footer-link">
                            <li class="list-group-item">
                                Shipping, Returns & Free
                            </li>
                        </a>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-lg-3 col-md-3 pt-4">
                <div>
                    <p class="text-uppercase text-light font-weight-bold">
                        Sign Up
                    </p>
                    <hr>

                    <div class="form-inline">
                        <input class="form-control w-100" type="search" placeholder="Email Address">
                        
                        <button class="btn btn-info w-100 mt-2" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container p-5">
    <div class="text-center">
        <p>
            Privacy Policy | Terms of Use
        </p>
    </div>

    <div>
        <p>
            Certain products not eligible for offers or discounts (including clearance items), and such designation will appear on the product detail page. Limit one offer or discount per order. Offers and discounts will appear at last checkout screen and cannot be combined with other offers or discounts.
        </p>
    </div>

    <div class="text-center">
        <p>
            &copy; 2021 All Rights Reserved.
        </p>
    </div>
</div>